<!DOCTYPE html>
<html ng-app="store">
<head>
	<title>Observatorio de Encuestas</title>
	
	<meta http-equiv='Content-Type' content='Type=text/html; charset=iso-8859-1'>
	<!-- meta name="viewport" content="width=device-width, user-scalable=yes"-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="styles/styles.css">
	<link rel="stylesheet" type="text/css" href="styles/custom.css">
	<link rel="stylesheet" type="text/css" href="resources/dhtmlxslider.css">
	<link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
	
	<!-- Facebook Conversion Code for Observatorio -->
	<script>(function() {
	  var _fbq = window._fbq || (window._fbq = []);
	  if (!_fbq.loaded) {
	    var fbds = document.createElement('script');
	    fbds.async = true;
	    fbds.src = '//connect.facebook.net/en_US/fbds.js';
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(fbds, s);
	    _fbq.loaded = true;
	  }
	})();
	window._fbq = window._fbq || [];
	window._fbq.push(['track', '6025919536284', {'value':'0.00','currency':'ARS'}]);
	</script>
	<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6025919536284&amp;cd[value]=0.00&amp;cd[currency]=ARS&amp;noscript=1" /></noscript>
	
</head>

<body ng-controller="StoreController as store" >

<div class="wrapper">
	<div class="logoTop">
		<a href="http://www.lapoliticaonline.com/" target="_blank"><img src="images/LogoLPO.png" style="width:156px;height:63px" /></a>
		
		<a
				href="http://twitter.com/intent/tweet?status=Observatorio de Encuestas 2015: la nueva plataforma para seguir la carrera electoral, via @l_p_o+http://www.observatorio.lapoliticaonline.com"
				target="_blank"
		>
			<img class="shareButton" src="images/tweet.png" />
		</a>	

		<a
				
				href="http://www.facebook.com/sharer/sharer.php?u=http://www.observatorio.lapoliticaonline.com&title=Descubrí el Observatorio de Encuesta de LPO, la plataforma que evalúa la probabilidad de los candidatos de ganar las carrera presidencial"
				target="_blank"
		>
		<img class="shareButton" src="images/facebook.png" />
		</a>
	</div>

									<!-- LOGO LPO Y LOGO MENU -->
	<img src="images/logoMobile.png" class="logoMobile" style="display:none;"><!-- LOGO LPO MOBILE -->
	<span class="logoMenu" style="display:none;cursor:pointer;" ng-click="menuChange();" ><img src="images/menu.png" style="width:"></span>
									<!--.....................-->


	<svg id="svgtitulo"></svg>

	
	<div id="cuerpo" ng-controller="TabsController as tab">
		

		<!--...... MENU MOBIL ......-->
		<div class="mobileNav" ng-cloak ng-show="mobMenuOn === true">
			<ul>
				<li ng-click="tab.setTab(1); selectMobileOption();">PASO</li>
				<li ng-click="tab.setTab(2); selectMobileOption();">Primera Vuelta</li>
				<li ng-click="tab.setTab(3); selectMobileOption();">Diferencias</li>
				<li ng-click="tab.setTab(4); selectMobileOption();">CABA</li>
				<li ng-click="tab.setTab(5); selectMobileOption();">Prov. Bs. As.</li>
				<li ng-click="tab.setTab(6); selectMobileOption();">Ratings</li>
				<li ng-click="tab.setTab(7); selectMobileOption();">Encuestas</li>
				<li ng-click="tab.setTab(8); selectMobileOption();">Metodología</li>
			</ul>
		</div>
		<!--....................... -->

		<div class="navWrapperWrapper">
	 		<div class="navWrapper">

				  <ul class="nav nav-pills stag">
				    <li ng-class="{ active:tab.isSet(1) }">
				      <a href="#paso" ng-click="tab.setTab(1)">PASO</a>
				    </li>	    
				    <li ng-class="{ active:tab.isSet(2) }">
				      <a href="#pv" ng-click="tab.setTab(2)">Primera Vuelta</a>
				    </li>
				    <li ng-class="{ active:tab.isSet(3) }">
				      <a href="#dif" ng-click="tab.setTab(3)">Diferencias</a>
				    </li>				    
				    <li ng-class="{ active:tab.isSet(4) }">
				      <a href ng-click="tab.setTab(4)">CABA</a>
				    </li>
				    <li ng-class="{ active:tab.isSet(5) }">
				      <a href="#prov" ng-click="tab.setTab(5)">Prov. Bs.As.</a>
				    </li>	
				    <li ng-class="{ active:tab.isSet(6) }">
				      <a href ng-click="tab.setTab(6)">Ratings</a>
				    </li>	    
				    <li ng-class="{ active:tab.isSet(7) }">
				      <a href ng-click="tab.setTab(7)">Encuestas</a>
				    </li>			    
				    <li ng-class="{ active:tab.isSet(8) }">
				      <a href ng-click="tab.setTab(8)">Metodología</a>
				    </li>
				  </ul>

			</div>
		</div>
		<div class="cuerpo">

		  <div ng-show="tab.isSet(1)" id="paso">
		  		
		  			<div class="textWrapper">
			  			<div class="sectionTitle">
				  			PASO
				  		</div>
				  		<div class="exp_overBarGraph">
				  			<ul>
				  				<li >
									El gráfico muestra el rango del porcentaje de votos que, según las encuestas analizadas obtendrán los candidatos y los frentes electorales en las PASO (Primarias Abiertas, Simultáneas y Obligatorias) del 9 de agosto de 2015. 

									Las bandas marcan el mínimo y el máximo del porcentaje de votos, con un 95% de probabilidad. El círculo marca el promedio que arrojan las encuestas.

				  				</li>
				  			</ul>
				  		</div>
				  	</div>

				  	<div class="graphWrapper">
				  		<div class="wrapperSlider">
				  			<div class="sliderYmes">
					  			<div id="sliderCandPASO" style="float:left">
					  				<!--aca se va a crear el slider -->
						  			
						  		</div>
						  		<div id="textoCandPASO" class="stag mesSlider">Junio</div>


						  	</div>
					  		<div class="explicSlider">Usá el slider para cambiar el mes. Las tabla muestra las encuestas que se agregaron cada mes. Posá el mouse sobre ellas para ver los resultados que dio cada una.</div>
					  		<div class="explicMobile" style="display:none;">Elegí un mes y la tabla te mostrará las encuesats que se publicaron. Tocá un para ver los resultados que dio cada una sobre el gráfico.</div>
					  	</div>
					  	<!--................DROPDOWN MESES.............-->
						  	<!--div class="monthDropdown stag" style="display:none">
						  		<select ng-model="numeroSlider.mesPASO" ng-change="updateGraph(datosCandPaso,candPaso)">
						  			<option value="0">Junio</option>
						  			<option value="1">Mayo</option>
						  			<option value="2">Abril</option>
						  			<option value="3">Marzo</option>
						  			<option value="4">Febrero</option>
						  			<option value="5">Enero</option>
						  			<option value="6">Diciembre</option>
						  			<option value="7">Noviembre</option>
						  			<option value="8">Octubre</option>
						  		</select>
						  	</div>
						<!--...........................................-->
				  		<div class="graficoyTablaCandPASO">

				  			<div class="mobileHidden"><svg id="svggraficoCandPASO" style="float:left"></svg></div>

				  			<!-- ............... SVG MOBILE .........-->
				  			<div class="mobileShow divSvgMobileCandPaso" style="display:none"><svg id="svggraficoCandPASO" viewBox="-15 0 750 570" preserveAspectRatio="xMidYMid" style="float:left"></svg></div>
				  			<!-- ............... ........... .........-->


				  			<table class="table-condensed ultEncuestas">
								<tr class="stag-book borderBottomThick">
									<th class="textoCenter">FECHA</th>
									<th class="textoCenter">ENCUESTADORA</th>
									<th class="textoCenter">PESO</th>
								</tr>
								<tr class="stag-book borderBottomFino negrita" ng-repeat="datos in store.encuestasPASO" ng-show="datos.mes === numeroSlider.mesPASO" ng-mouseenter="createCirculosEncuestas(candPaso,$index)" ng-mouseleave="removeCirculosEncuestas(candPaso)">
										<td class="textoCenter">{{datos.fecha}}</td>
										<td class="textoCenter">{{datos.enc}}</td>
										<td class="textoCenter">
												<span ng-if="datos.peso >= 0 && datos.peso < 0.05">
													<img src="images/bat0.png" height="20" width="20" />
												</span>	
												<span ng-if="datos.peso >= 0.05 && datos.peso < 0.1">
													<img src="images/bat1.png" height="20" width="20" />
												</span>	
												<span ng-if="datos.peso >= 0.1 && datos.peso < 0.15">
													<img src="images/bat2.png" height="20" width="20" />
												</span>	
												<span ng-if="datos.peso >= 0.15 && datos.peso < 0.20">
													<img src="images/bat3.png" height="20" width="20" />
												</span>	
												<span ng-if="datos.peso >= 0.20 && datos.peso < 0.30">
													<img src="images/bat4.png" height="20" width="20" />
												</span>	
												<span ng-if="datos.peso >= 0.30">
													<img src="images/bat5.png" height="20" width="20" />
												</span>	
										</td>
								</tr>
				  			</table>
				  			<div class="stag" ng-show="emptyEncuestas === true">Esta encuesta midió sólo frentes electorales.</div>
				  		</div>
				  		<div style="display:none">
				  			<div id="sliderFrentes"></div>
					  		<div id="textoFrentes" class="stag mesSliderFrentes">Junio</div>
					  		<svg id="svggrafico2"></svg>
				  		</div>

			  		</div>
			  	
		  </div>

		  <div ng-show="tab.isSet(2)"  id="pv">
		  		
		  		<div class="textWrapper">
			  		<div class="sectionTitle">
						Primera Vuelta
					</div>
					<div class="exp_overBarGraph">
						<ul>
							<li>
								El gráfico muestra el rango del porcentaje de votos que según las encuestas analizadas, cada candidato obtendrá en la primera vuelta de las Elecciones Presidenciales del domingo 25 de octubre del 2015.
								El candidato de cada frente electoral fue elegido tomando a los ubicados primeros en cada frente.  Las bandas marcan el mínimo y el máximo del porcentaje de votos que podrían obtener, con un 95% de probabilidad. El círculo marca el promedio que arrojan las encuestas.

							</li>
						</ul>
					</div>
				</div>

				<div class="graphWrapper">
				  	<div class="wrapperSlider">
				  		<div class="sliderYmes">
							<div id="sliderCandidatos" style="float:left">
								<!--aca se va a crear el slider -->
					  			
					  		</div>
					  		<div id="textoCandidatos" class="stag mesSlider">Junio</div>
					  	</div>
						<div class="explicSlider">Deslizá el slider para ver la evolución. Las tabla muestra las encuestas que se agregaron cada mes. Posá el mouse sobre ellas para ver los números de cada una.</div>
					</div>


			  		<div class="mobileHidden"><svg id="svggrafico1" style="float:left"></svg></div>

			  		<!-- ............... SVG MOBILE .........-->
				  	<div class="mobileShow divSvgMobilePV" style="display:none"><svg id="svggrafico1" viewBox="-15 0 610 410" preserveAspectRatio="xMidYMid" style="float:left"></svg></div>
				  	<!-- ............... ........... .........-->

				  	

				  	<table class="table-condensed ultEncuestas">
						<tr class="stag-book borderBottomThick">
							<th class="textoCenter">FECHA</th>
							<th class="textoCenter">ENCUESTADORA</th>
							<th class="textoCenter">PESO</th>
						</tr>
						<tr class="stag-book borderBottomFino negrita" ng-repeat="datos in store.encuestasPV" ng-show="datos.mes === numeroSlider.mesPV" ng-mouseenter="createCirculosEncuestas(candidatos,$index)" ng-mouseleave="removeCirculosEncuestas(candidatos)">
								<td class="textoCenter">{{datos.fecha}}</td>
								<td class="textoCenter">{{datos.enc}}</td>
								<td class="textoCenter">
										<span ng-if="datos.peso >= 0 && datos.peso < 0.05">
											<img src="images/bat0.png" height="20" width="20" />
										</span>	
										<span ng-if="datos.peso >= 0.05 && datos.peso < 0.1">
											<img src="images/bat1.png" height="20" width="20" />
										</span>	
										<span ng-if="datos.peso >= 0.1 && datos.peso < 0.15">
											<img src="images/bat2.png" height="20" width="20" />
										</span>	
										<span ng-if="datos.peso >= 0.15 && datos.peso < 0.20">
											<img src="images/bat3.png" height="20" width="20" />
										</span>	
										<span ng-if="datos.peso >= 0.20 && datos.peso < 0.30">
											<img src="images/bat4.png" height="20" width="20" />
										</span>	
										<span ng-if="datos.peso >= 0.30">
											<img src="images/bat5.png" height="20" width="20" />
										</span>	
								</td>
						</tr>
				  	</table>
				  	

				</div>
		  </div>


		  <div ng-show="tab.isSet(3)" >
		  		<div class="textWrapper">
			  		<div class="sectionTitle">
				  			Diferencias
				  	</div>
				  	<div class="exp_overBarGraph">
				  		<ul>
				  			<li>
								El cuadro permite ver que probabilidad tiene un candidato frente a otro en la primera vuelta de las elecciones presidenciales de octubre.
								Elegí un candidato de cada columna y el Observatorio te dará la posibilidad (sobre 100%) de que el candidato de la izquierda le gane o le saque una determinada diferencia de puntos al de la derecha. Un gráfico te mostrará la evolución de este margen desde octubre del 2014.

				  			</li>				
				  		</ul>
				  		</div>
				  </div>
		  	<difs-directive></difs-directive>
		  </div>		  

		  <div ng-show="tab.isSet(4)">
		  		<div class="textWrapper">
			  		<div class="sectionTitle">
				  			Ciudad de Buenos Aires
				  	</div>
				  	<div class="exp_overBarGraph">
				  		<ul>
				  			<li>
									El gráfico muestra el rango del porcentaje de votos que, según las encuestas analizadas obtendrán los candidatos  en las PASO (Primarias Abiertas, Simultáneas y Obligatorias) de la Ciudad de Buenos Aires, del 26 de abril de 2015. 

									Las bandas marcan el mínimo y el máximo del porcentaje de votos, con un 95% de probabilidad. El círculo marca el promedio que arrojan las encuestas.

				  			</li>				
				  		</ul>
				  	</div>
				</div>
				<div class="tituloEG-CABA">Elecciones Generales</div>
				<div class="graphWrapper">
				  	<div class="wrapperSlider">
				  		<div class="sliderYmes">
							<div id="sliderGralCABA" style="float:left">
								<!--aca se va a crear el slider -->
					  			
					  		</div>
					  		<div id="textoGralCABA" class="stag mesSlider">Junio</div>
					  	</div>
						<div class="explicSlider">Deslizá el slider para ver la evolución. Las tabla muestra las encuestas que se agregaron cada mes. Posá el mouse sobre ellas para ver los números de cada una.</div>
					</div>
			  		<div class="mobileHidden"><svg id="svggraficoGralCABA" style="float:left"></svg></div>

					<!-- .......................... MOBILE SVG ..........................*/ -->
			  		<div class="mobileShow divSvgMobileGralCABA" style="display:none">

			  			<svg id="svggraficoGralCABA" viewBox="-10 100 725 150" preserveAspectRatio="xMidYMid" style="float:left"></svg>

			  		</div>
			  		<!-- .......................... ............. ..........................*/ -->

				  	<table class="table-condensed ultEncuestas">
						<tr class="stag-book borderBottomThick">
							<th class="textoCenter">FECHA</th>
							<th class="textoCenter">ENCUESTADORA</th>
							<th class="textoCenter">PESO</th>
						</tr>
						<tr class="stag-book borderBottomFino negrita" ng-repeat="datos in store.encuestasGralCABA" ng-show="datos.mes === numeroSlider.mesGralCABA" ng-mouseenter="createCirculosEncuestas(gralCABA,$index)" ng-mouseleave="removeCirculosEncuestas(gralCABA)">
								<td class="textoCenter">{{datos.fecha}}</td>
								<td class="textoCenter">{{datos.enc}}</td>
								<td class="textoCenter">
										<span ng-if="datos.peso >= 0 && datos.peso < 0.05">
											<img src="images/bat0.png" height="20" width="20" />
										</span>	
										<span ng-if="datos.peso >= 0.05 && datos.peso < 0.1">
											<img src="images/bat1.png" height="20" width="20" />
										</span>	
										<span ng-if="datos.peso >= 0.1 && datos.peso < 0.15">
											<img src="images/bat2.png" height="20" width="20" />
										</span>	
										<span ng-if="datos.peso >= 0.15 && datos.peso < 0.20">
											<img src="images/bat3.png" height="20" width="20" />
										</span>	
										<span ng-if="datos.peso >= 0.20 && datos.peso < 0.30">
											<img src="images/bat4.png" height="20" width="20" />
										</span>	
										<span ng-if="datos.peso >= 0.30">
											<img src="images/bat5.png" height="20" width="20" />
										</span>	
								</td>
						</tr>
				  	</table>
				  	

				</div>


				<div class="tituloPASO-CABA">PASO</div>
				<div class="graphWrapper">
				  	<div class="wrapperSlider">
				  		<div class="sliderYmes">
							<div id="sliderPasoCABA" style="float:left">
								<!--aca se va a crear el slider -->
					  			
					  		</div>
					  		<div id="textoPasoCABA" class="stag mesSlider">Abril</div>
					  	</div>
						<div class="explicSlider">Deslizá el slider para ver la evolución. Las tabla muestra las encuestas que se agregaron cada mes. Posá el mouse sobre ellas para ver los números de cada una.</div>
					</div>


					<div class="mobileHidden"><svg id="svggraficoPasoCABA"></svg></div>
					<!-- .......................... MOBILE SVG ..........................*/ -->
			  		<div class="mobileShow divSvgMobilePasoCABA" style="display:none">
			  			<svg id="svggraficoPasoCABA" viewBox="-10 60 740 500" preserveAspectRatio="xMidYMid" style="float:left"></svg>
			  		</div>
			  		<!-- .......................... ............. ..........................*/ -->


				  	<table class="table-condensed ultEncuestas">
						<tr class="stag-book borderBottomThick">
							<th class="textoCenter">FECHA</th>
							<th class="textoCenter">ENCUESTADORA</th>
							<th class="textoCenter">PESO</th>
						</tr>
						<tr class="stag-book borderBottomFino negrita" ng-repeat="datos in store.encuestasPasoCABA" ng-show="datos.mes === numeroSlider.mesPasoCABA" ng-mouseenter="createCirculosEncuestas(pasoCABA,$index)" ng-mouseleave="removeCirculosEncuestas(pasoCABA)">
								<td class="textoCenter">{{datos.fecha}}</td>
								<td class="textoCenter">{{datos.enc}}</td>
								<td class="textoCenter">
										<span ng-if="datos.peso >= 0 && datos.peso < 0.05">
											<img src="images/bat0.png" height="20" width="20" />
										</span>	
										<span ng-if="datos.peso >= 0.05 && datos.peso < 0.1">
											<img src="images/bat1.png" height="20" width="20" />
										</span>	
										<span ng-if="datos.peso >= 0.1 && datos.peso < 0.15">
											<img src="images/bat2.png" height="20" width="20" />
										</span>	
										<span ng-if="datos.peso >= 0.15 && datos.peso < 0.20">
											<img src="images/bat3.png" height="20" width="20" />
										</span>	
										<span ng-if="datos.peso >= 0.20 && datos.peso < 0.30">
											<img src="images/bat4.png" height="20" width="20" />
										</span>	
										<span ng-if="datos.peso >= 0.30">
											<img src="images/bat5.png" height="20" width="20" />
										</span>	
								</td>
						</tr>
				  	</table>
				  	

				</div>

		  </div>
		  <div ng-show="tab.isSet(5)">
		  		<div class="textWrapper" id="#provBA">
			  		<div class="sectionTitle">
				  			Provincia de Buenos Aires
				  	</div>
				  	<div class="exp_overBarGraph">
				  		<ul>
				  			<li>
									El gráfico muestra el rango del porcentaje de votos que, según las encuestas analizadas obtendrán los candidatos  en las  en las PASO (Primarias Abiertas, Simultáneas y Obligatorias) del 9 de agosto en la Provincia de Buenos Aires. 

									Las bandas marcan el mínimo y el máximo del porcentaje de votos, con un 95% de probabilidad. El círculo marca el promedio que arrojan las encuestas.

				  			</li>				
				  		</ul>
				  	</div>
				</div>
				<div class="tituloPASO-Prov">PASO</div>
				<div class="graphWrapper">
				  	<div class="wrapperSlider">
				  		<div class="sliderYmes">
							<div id="sliderPasoProv" style="float:left">
								<!--aca se va a crear el slider -->
					  			
					  		</div>
					  		<div id="textoPasoProv" class="stag mesSlider">Junio</div>
					  	</div>
						<div class="explicSlider">Deslizá el slider para ver la evolución. Las tabla muestra las encuestas que se agregaron cada mes. Posá el mouse sobre ellas para ver los números de cada una.</div>
					</div>

			  		<div class="mobileHidden"><svg id="svggraficoPasoProv" style="float:left"></svg></div>
					<!-- .......................... MOBILE SVG ..........................*/ -->
			  		<div class="mobileShow divSvgMobilePasoProv" style="display:none">
			  			<svg id="svggraficoPasoProv" viewBox="-10 35 740 500" preserveAspectRatio="xMidYMid" style="float:left"></svg>
			  		</div>
			  		<!-- .......................... ............. ..........................*/ -->

				  	<table class="table-condensed ultEncuestas">
						<tr class="stag-book borderBottomThick">
							<th class="textoCenter">FECHA</th>
							<th class="textoCenter">ENCUESTADORA</th>
							<th class="textoCenter">PESO</th>
						</tr>
						<tr class="stag-book borderBottomFino negrita" ng-repeat="datos in store.encuestasPasoProv" ng-show="datos.mes === numeroSlider.mesPasoProv" ng-mouseenter="createCirculosEncuestas(pasoProv,$index)" ng-mouseleave="removeCirculosEncuestas(pasoProv)">
								<td class="textoCenter">{{datos.fecha}}</td>
								<td class="textoCenter">{{datos.enc}}</td>
								<td class="textoCenter">
										<span ng-if="datos.peso >= 0 && datos.peso < 0.05">
											<img src="images/bat0.png" height="20" width="20" />
										</span>	
										<span ng-if="datos.peso >= 0.05 && datos.peso < 0.1">
											<img src="images/bat1.png" height="20" width="20" />
										</span>	
										<span ng-if="datos.peso >= 0.1 && datos.peso < 0.15">
											<img src="images/bat2.png" height="20" width="20" />
										</span>	
										<span ng-if="datos.peso >= 0.15 && datos.peso < 0.20">
											<img src="images/bat3.png" height="20" width="20" />
										</span>	
										<span ng-if="datos.peso >= 0.20 && datos.peso < 0.30">
											<img src="images/bat4.png" height="20" width="20" />
										</span>	
										<span ng-if="datos.peso >= 0.30">
											<img src="images/bat5.png" height="20" width="20" />
										</span>	
								</td>
						</tr>
				  	</table>
				  	

				</div>

		  </div>				

		  <div ng-show="tab.isSet(6)">
		  		<div class="textWrapper">
			  		<div class="sectionTitle">
				  			Ratings
				  	</div>
				  	<div class="exp_overBarGraph">
				  		<ul>
				  			<li>

								El Observatorio de Encuestas desarrolló un sistema de ratings para las encuestadoras, que permite asignarle un peso relativo a cada sondeo en el cálculo de los promedios y desvíos estándar, de acuerdo a la performance histórica de esa consultora.

							</li>			
				  		</ul>
				  	</div>
				</div>
		  	<ratings-directive style="margin-left:50px;margin-right:50px;"></ratings-directive>
		  </div>

		  <div ng-show="tab.isSet(7)">
		  	<div class="textWrapper">
		  		<div class="sectionTitle">
			  			Encuestas
			  	</div>
			  	<div class="exp_overBarGraph">
			  		<ul>
			  			<li>

							En este pestaña podés ver las encuestas tomadas por el Observatorio de Encuestas, ordenadas desde la última que se ingresó a la plataforma hasta la primera.
						</li>			
			  		</ul>
			  	</div>
			 </div>
		  	<encuestas-directive style="margin-left:50px;margin-right:50px;"></encuestas-directive>
		  </div>

		  <div ng-show="tab.isSet(8)">
		  		<div class="sectionTitle">
			  			Metodología
			  	</div>
		  	<metodologia-directive style=""></metodologia-directive>
		  </div>
		
		</div>
	</div> 
<!--nombres-directive data="datos" ng-repeat="datos in datosTotales"></nombres-directive-->
<d3-directive></d3-directive>

<div class="columnas">
	<a href="http://www.lapoliticaonline.com/nota/87698/" target="_blank">
	<div class="columna">
		<div class="titCol">
			El nervio óptico de la democracias
		</div>
		<div class="restoCol">
			<img src="images/fidanza.jpg" class="fotoAutor">
			<div class="autorCol">
				Por Ignacio Fidanza <a href="https://twitter.com/ifidanza"> (@IFidanza) </a>
			</div>
			<div class="bajadaCol">
				Las encuestas, aún cuestionadas, constituyen la herramienta central de la política actual. De ahí la necesidad de profesionalizar y aumentar el rigor en el análisis de sus resultados. 
			</div>
		</div>
	</div>
	</a>

	<a href="http://www.lapoliticaonline.com/nota/88659/" target="_blank">
	<div class="columna">
		<div class="titCol">
			La Provincia, una competencia de arriba hacia abajo
		</div>
		<div class="restoCol">
			<img src="images/jpd2.png" class="fotoAutor">
			<div class="autorCol">
				Por Juan Pablo Djeredjian <a href="https://twitter.com/jpdjere"> (@JpDjere) </a>
			</div>
			<div class="bajadaCol">
				Con nombres poco competitivos y una elección pegada a la nacional, la victoria del próximo gobernador dependenderá de una buena performance de su candidato a Presidente.
			</div>
		</div>
	</div>
	</a>
</div>

<div class="footer stag-light" style="font-size:15px">
	<a href="http://www.lapoliticaonline.com/" target="_blank"><img class="imgFooter" src="images/logoBYN.png" /></a>
	<b style="margin-right:15px;">&copy; La Política Online SRL 2015&nbsp;&nbsp;&nbsp;|</b>Todos los derechos reservados &nbsp;   
	Diseño: <b><a href="http://www.bernardocelis.com/">Bernardo + Celis </a></b>&nbsp;
	Idea y desarrollo: <b><a href="https://twitter.com/jpdjere">Juan Pablo Djeredjian</a></b>

</div>

</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-touch.js"></script>
<script type="text/javascript" src="resources/d3.min.js"></script>
<!--script type="text/javascript" src="resources/angular.js"></script-->
<script type="text/javascript" src="data.js" ></script>
<script type="text/javascript" src="app/app.js"></script>

<script type="text/javascript" src="app/controllers/store.controller.js"></script>
<script type="text/javascript" src="app/controllers/tabs.controller.js"></script>

<script type="text/javascript" src="app/directives/compile.directive.js"></script>
<script type="text/javascript" src="app/directives/d3.directive.js"></script>
<script type="text/javascript" src="app/directives/difs.directive.js"></script>
<script type="text/javascript" src="app/directives/encuestas.directive.js"></script>
<script type="text/javascript" src="app/directives/hoverCand.directive.js"></script>
<script type="text/javascript" src="app/directives/metodologia.directive.js"></script>
<script type="text/javascript" src="app/directives/ratings.directive.js"></script>
<script type="text/javascript" src="app/directives/basicClick.directive.js"></script>

<script type="text/javascript" src="app/filters/perc.filter.js"></script>

<!--script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-sanitize.js"></script-->
<!--script type="text/javascript" src="grafdifs.js" async></script-->
<script src="resources/dhtmlxslider.js"></script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-6780819-1', 'auto');
  ga('send', 'pageview');

</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-13006119-8', 'auto');
  ga('send', 'pageview');

</script>

</body>
<html>



